@model REALLY9.Models.Comment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin bình luận</h4>
        <div class="table-respontive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.CommentId</td>
                    </tr>
                    <tr>
                        <td>Bình luận:</td>
                        <td>@Model.CommentText</td>
                    </tr>

                    <tr>
                        <td>Trạng thái:</td>
                        <td>@Model.Active</td>
                    </tr>
                    <tr>
                        <td>Tên người bình luận:</td>
                        <td>@Model.Customer.FullName</td>
                    </tr>
                    <tr>
                        <td>Tên sản phẩm:</td>
                        <td>@Model.Product.ProductName</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CommentId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Về trang chủ</a>
    </form>
</div>
