@model IEnumerable<REALLY9.Models.Discount>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_ShopLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Discountcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Levels)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Discountcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Levels)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiscountId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DiscountId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DiscountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
