@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<REALLY9.Models.Customer>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-12">
                <div class="d-md-flex align-items-center">
                    <div class="m-b-10 m-r-15">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Search Customer" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-respontive">
    <div class="bg-light rounded h-100 p-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Fullname</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Location</th>


                </tr>
            </thead>
            <tbody id="records_table">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.CustomerId</th>
                            <td>@item.FullName</td>
                            <td>@item.Address</td>
                            <td>@item.Phone</td>
                            <td>@item.Email</td>
                            
                            @if (item.Location != null)
                            {
                                <td>@item.Location.Name</td>
                            }




                            <td>
                                <a class="btn btn-outline-primary m-2" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.CustomerId">Chi Tiet</a>
                                <a class="btn btn-outline-success m-2" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Edit" asp-route-id="@item.CustomerId">Sua</a>
                                <a class="btn btn-outline-danger m-2" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Delete" asp-route-id="@item.CustomerId">Xoa</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index" />
            </ul>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                var url = strkeyword.length === 0 ? '/Admin/Search/FindAllCustomers/' : '/Admin/Search/FindCustomer/';

                $.ajax({
                    url: url,
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#loader").hide();
                        $("#records_table").html(results); 
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}