@model REALLY9.Models.Account

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin tài khoản</h4>
        <div class="table-respontive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.AccountId</td>
                    </tr>
                    <tr>
                        <td>Họ tên:</td>
                        <td>@Model.Fullname</td>
                    </tr>
                    <tr>
                        <td>SDT:</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>@Model.Password</td>
                    </tr>
                    <tr>
                        <td>Trạng thái:</td>
                        <td>@Model.Active</td>
                    </tr>
                   
                    <tr>
                        <td>Ngày tạo:</td>
                        <td>@Model.CreateDate</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountId">Edit</a> |
    <a asp-action="Index">Về trang chủ</a>
</div>

